*{margin: 0; padding: 0; box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}

.skin{
    background: #ffe600;
    position: relative;
    min-height: 100vh;   
}

@keyframes noseWave{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(15deg);
    }
    66%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.nose:hover{
    transform-origin: center bottom;
    animation: noseWave 100ms infinite linear;
}
.nose-up{
    border: 10px solid #000;
    border-color: #000 transparent transparent;
    border-bottom: none;
    position: absolute;
    left: 50%;
    top: 145px;
    margin-left: -10px;
}
.nose-down{
    border-radius: 10px 10px 0 0;
    width: 20px;
    height: 7px;
    position: absolute;
    top: -17px;
    left: -10px;
    background: #000;
}

.eye{
    /* border: 2px solid #000; */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -32px;
    background: #2e2e2e;  
}
.eye::before{
    content:'';
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    position: relative;
    left: 15px;
    top: 1px;
    box-shadow: 0px 6px 10px #ddd;
}
.eye.left{
    transform: translateX(-100px);
}
.eye.right{
    transform: translateX(100px);    
}
@keyframes eyeMove{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translate(0px,15px) scale(1.1); 
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translate(0px,15px) scale(1.1);
    }
    100%{
        transform: translateX(0px);
    }
}
.eye.left::before{
    animation: eyeMove 600ms infinite;
}
.eye.right::before{
    animation: eyeMove 600ms infinite;
}

.mouth{
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 170px;
    margin-left: -64px;
}
.upper-lip{
    position: relative;
    top: -10px;
    z-index: 1;
}
.lip{
    border: 3px solid #000;
    height: 24px; 
    width: 64px;
    background: #ffe600;
    border-top-color: transparent;
    position: relative;
    position: absolute;
    left: 50%;
    margin-left: -32px;
}
.lip.left{   
   border-radius: 0 0 0 20px;
   transform: rotate(-18deg) translateX(-32px); 
   border-right-color: transparent;
}
.lip.right{
    border-radius: 0 0 20px 0;
    transform: rotate(18deg) translateX(32px);
    border-left-color: transparent;
}
.lower-lip{
    height: 110px;
    width: 100%;
    position: absolute;
    top: 5px;
    overflow: hidden;
}
.tongue.up{
    border: 2px solid #000;
    border-radius: 48px/192px;
    width: 96px;
    height: 1000px;
    background: #9b000a;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -48px;
    overflow: hidden;
}
.tongue.down{
    border-radius: 100px;
    width: 96px;
    height: 120px;
    background: #ff485f;
    position: absolute;
    bottom: -36px;
    left: 50%;
    margin-left: -48px;
}

.face{
    /* border: 2px solid #000; */
    border-radius: 50%;
    box-shadow: 0px 3px 8px #ff0000;
    width: 66px;
    height: 66px;
    background: #ff0000;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -33px; 
}
.face.left{
    transform: translateX(-150px);
}
.face.right{
    transform: translateX(150px);
}

.hand{
    border: 3px solid #000;
    border-radius: 36px/144px;
    border-top-color: transparent;
    width: 72px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -36px;
}
.hand::before{
    content:'';
    display: block;
    width: 72px;
    height: 150px;
    background: #ffe600;
    position: absolute;
    top: 0;
}
@keyframes handRotateLeft{
    0%{
        transform: rotate(45deg) translateX(150px);
    }
    50%{
        transform: rotate(25deg) translateX(150px);
    }
    100%{
        transform: rotate(45deg) translateX(150px);
    }
}
@keyframes handRotateRight{
    0%{
        transform: rotate(-45deg) translateX(-150px); 
    }
    50%{
        transform: rotate(-25deg) translateX(-150px);
    }
    100%{
        transform: rotate(-45deg) translateX(-150px); 
    }
}
.hand.left{
    animation: handRotateLeft 200ms infinite;  
}
.hand.right{
    animation: handRotateRight 200ms infinite;
}
.hand.left::before{
    right: -6px;
}
.hand.right::before{
    left: -6px;
}
@keyframes move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px) scale(1.5); 
    }
    100%{
        transform: translateY(0px);
    }
}